/* Defaults */

:root {
  --padding-1: 1px;
  --padding-4: 0.25rem;
  --padding-8: 0.5rem;
  --padding-16: 1rem;

  --font-size-base: 16px;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --border-radius: var(--padding-4);

  --body-font-weight: normal;

  --body-min-width: 20rem;
  --container-max-width: 80rem;

  --header-height: 3.5rem;
  --menu-width: 16rem;
  --toc-width: 16rem;
  --mobile-breakpoint: calc(
    var(--menu-width) + var(--body-min-width) * 1.2 + var(--toc-width)
  );
}

/* Light theme */

:root {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #0055bb;
  --color-visited-link: #8440f1;

  --body-background: white;
  --body-font-color: black;

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

/* Main (https://github.com/alex-shpak/hugo-book/blob/master/assets/_main.scss) */

html {
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  min-width: var(--body-min-width);
  color: var(--body-font-color);
  background: var(--body-background);

  letter-spacing: 0.33px;
  font-weight: var(--body-font-weight);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

body * {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--body-font-weight);
}

a {
  text-decoration: none;
  color: var(--color-link);
}

img {
  vertical-align: baseline;
}

:focus {
  outline-style: auto;
  outline-color: currentColor;
  outline-color: -webkit-focus-ring-color; 
}

aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

aside nav ul li {
  margin: 1em 0;
  position: relative;
}

aside nav ul a {
  display: block;
}

aside nav ul a:hover {
  opacity: 0.5;
}

aside nav ul ul {
  padding-inline-start: var(--padding-16);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  display: flex;
}

.book-page {
  min-width: var(--body-min-width);
  flex-grow: 1;
  padding: var(--padding-16);
}
/* menu */

.book-brand {
  margin-top: 0;

}
.book-brand img {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
    margin-inline-end: var(--padding-8);
}


.book-menu {
    flex: 0 0 var(--menu-width);
    font-size: var(--font-size-14);
}
  
.book-menu .book-menu-content {
    width: var(--menu-width);
    padding: var(--padding-16);
    background: var(--body-background);
}

  
.book-menu a,
.book-menu label {
    color: inherit;
    cursor: pointer;
    word-wrap: break-word;
}
  
.book-menu a.active {
    color: var(--color-link);
}
  
.book-menu input.toggle + label + ul {
    display: none;
}
  
.book-menu input.toggle:checked + label + ul {
    display: block;
}

/* toc */

.book-toc {
  flex: 0 0 var(--toc-width);
  font-size: var(--font-size-12);
}

.book-toc .book-toc-content {
  width: var(--toc-width);
  padding: var(--padding-16);
position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;

}

.book-toc img {
  height: 1em;
}

.book-toc nav > ul > li:first-child {
  margin-top: 0;
}

/* content typegraphy */

article {
    line-height: 1.6;
}

article > :first-child {
    margin-top: 0;
}

  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    font-weight: normal;
    line-height: 1;
    margin-top: 1.5em;
    margin-bottom: var(--padding-16);
  }

  article h4,
  article h5,
  article h6 {
    font-weight: bolder;
  }
  article h1 {
    font-size: 2em;
    line-height: 1;
    font-weight: normal;
    margin-bottom: var(--padding-16);
  }

  article h5 {
    font-size: 0.875em;
  }

  article h6 {
    font-size: 0.75em;
  }

  article b,
  article optgroup,
  article strong {
    font-weight: bolder;
  }

  article a {
    text-decoration: none;
  }

    article a:hover {
      text-decoration: underline;
    }
    article a:visited {
      color: var(--color-visited-link);
    }

  article img {
    max-width: 100%;
  }
  article svg {
    max-width: 100%;
    height: auto;
  }

  article code {
    padding: 0 var(--padding-4);
    background: var(--gray-100);
    border-radius: var(--border-radius);
    font-size: var(--font-size-14)
  }

  article h1 code {
    font-size: inherit;
  }

  article pre {
    padding: var(--padding-8);
    background: var(--gray-100);
    border-radius: var(--border-radius);
    overflow-x: auto;

  }
  article pre code {
      padding: 0;
      background: none;
    }

  article blockquote {
    margin: var(--padding-16) 0;
    padding: var(--padding-8) var(--padding-16) var(--padding-8) calc(var(--padding-16) - var(--padding-4));

    border-inline-start: var(--padding-4) solid var(--gray-200);
    border-radius: var(--border-radius);

  }
    article blockquote:first-child {
      margin-top: 0;
    }
    article blockquote:last-child {
      margin-bottom: 0;
    }

  table {
    overflow: auto;
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: var(--padding-16);
    margin-bottom: var(--padding-16);

  }
    article table tr th,
    article table tr td {
      padding: var(--padding-8) var(--padding-16);
      border: var(--padding-1) solid var(--gray-200);
    }

    article table tr:nth-child(2n) {
      background: var(--gray-100);
    }

  article hr {
    height: var(--padding-1);
    border: none;
    background: var(--gray-200);
  }

  article ul,
  article ol {
    padding-inline-start: calc(var(--padding-16) * 2);
  }

  article dl dt {
      font-weight: bolder;
      margin-top: var(--padding-16);
    }

    article dl dd {
      margin-inline-start: var(--padding-16);
      margin-bottom: var(--padding-16);
    }


  article figure {
    margin: var(--padding-16) 0;
  }
  article figure figcaption p {
      margin-top: 0;
    }

/* custom markdown formatting */

article li p {
  margin-top: var(--padding-8);
  margin-bottom: var(--padding-8);
}

/* fonts */

/* roboto-300italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
         url('fonts/roboto-v19-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v19-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
         url('fonts/roboto-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('fonts/roboto-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* roboto-mono-regular - latin */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Mono'), local('RobotoMono-Regular'),
         url('fonts/roboto-mono-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-mono-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
body {
    font-family: 'Roboto', sans-serif;
}

code, .codeoutput {
    font-family: JuliaMono, 'Roboto Mono', monospace;
}

.doctree ul li p {
  font-style: italic;
}
.doctree ul li p a {
  font-style: normal;
}


article {
  font-family: Charter;
}