name: CI - FastMakie
on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'FastTabular/**'
      - 'FastText/**'
      - 'FastVision/**'
      - 'FastTimeSeries/**'
      - '*.md'
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.6'
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        arch:
          - x64
        
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - name: Dev FastAI
        run: |
          julia --color=yes --project=./FastMakie -e 'using Pkg; pkg"dev ."'
        shell: bash
      - name: Dev test dependencies
        run: |
          julia --color=yes --project=./FastMakie/test -e 'using Pkg; pkg"dev . ./FastMakie "'
        shell: bash
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: './FastMakie/'
      - name: Run tests
        run: |
          julia --color=yes --depwarn=yes --project=./FastMakie/test -e 'include("FastMakie/test/runtests.jl")'
        continue-on-error: ${{ matrix.version == 'nightly' }}
        shell: bash
